page-conferma {
  .toolbar-background {
      background-color: #202E79;
  }
  .toolbar-title, h1 {
      color: #fff;
  }

  ion-content {
    background: rgba(32,45,121,1);
    background: -moz-linear-gradient(top, rgba(32,45,121,1) 0%, rgba(233,0,50,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(32,45,121,1)),
    color-stop(100%, rgba(233,0,50,1)));
    background: -webkit-linear-gradient(top, rgba(32,45,121,1) 0%, rgba(233,0,50,1) 100%);
    background: linear-gradient(to bottom, rgba(32,45,121,1) 0%, rgba(233,0,50,1) 100%);
  }

  .bg-success {
    background: url("../assets/imgs/successo-bg.png");
    background-size: 100% 100%;

  }

}
