.larger-icon {
  font-size: 7em;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Roboto';
}

.toolbar-background {
  border-bottom: 1px solid #fff !important;
  background-color: #DFDBE8;
}

.toolbar-title {
  font-weight: bold;
  color: #21194F;
}

.header-md::after {
  background-image: none !important;
}

ion-content, .custom-bgcolor {
  background-color: #DFDBE8 !important;
}

.card-title, ion-header .back-button, h5 {
  color: #21194F !important;
}

ion-card {
  border-radius: 20px 20px 20px 20px !important;
  box-shadow: 2px 5px 0px 0px rgba(32,46,121,1) !important;
}

.custom-form .item-inner {
    border-bottom: 2px solid #21194F !important;
    box-shadow: none !important;
}

.valuta {
  color: #e90031 !important;
}

.confirm-btn {
  background-color: #202E79;
  font-weight: bold;
  color: #ffffff;
  border-radius: 50px 50px 50px 50px;
  box-shadow: 2px 2px 0px 0px rgba(233,0,49,1);
}
